configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

entry {
    placeholder: "Type here";
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

@theme "/home/oriyia/.local/share/rofi/themes/rofi_mytheme_onedark.rasi"
